{% extends 'app/home.html' %}

{% block titulo %}

{% endblock titulo %}

{% block cuadro_contenido %} 
<div class="container main-content outer-container">
    <!-- Contenedor principal con barra de navegación y contenido adicional (tarjeta) -->
    <div class="row">
        <div class="col-md-12">
            <div class="container my-4">
                <div class="row align-items-center text-center">
                    <div class="card-body" style="position: relative;">
                        <div style="display: flex; flex-direction: column; align-items: center;">
                            <h5 style="margin-top: auto; margin-bottom: auto;">
                                <b>En TAO software estamos convencidos que poder identificar y comprender los costos indirectos de una empresa es fundamental para tomar decisiones y definir estrategias que impacten positivamente en su rentabilidad y competitividad.</b>
                            </h5>
                            <img src="http://sistek.no-ip.org/leon.jpg" class="img-fluid" style="max-width: 100%; height: auto; opacity: 0.1;"> 
                        </div>
                    </div>
                </div>                               
            </div>           
        </div>
    </div>
</div>
{% endblock cuadro_contenido %}